.nav_heading{
    display: flex;
    justify-content: center;
    color: white;
}

.list_filters{
    padding: 10px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.table_box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 20px; */
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
}

.filter{
    margin: 10px;
    width: 300px;
    height: 40px;
}

.filter_box{
    margin-top: 30px;
    margin-bottom: 30px;
}

.instruction{
    font-weight: 600;
    color: #373839;
}

.view_list{
    width: 200px;
}

.submit_group{
    float: right;
}

#search_branch{
    margin-top: 20px;
    display: none;
    float: right;
}
#myInput{
    width: 300px;
    margin-bottom: 20px;
    /* float: right; */
}

.login_btn {
    border: 2px;
    background-color: white;
    padding: 5px 0px 10px;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
    border-radius: 20px;
    /* border-color: #d66176; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ad354b;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.login_btn:hover {
    background-color: #9f1c33;
    color: white;
    transition: ease 0.5s;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
}

@media only screen and (max-width: 420px) {
    .list_filters{
        /* display: contents; */
        justify-content: center;
        padding: 10px;
        border-style: groove;
        border-color: beige;
    }

    .filter{
        width: 100%;
        margin: 0px;
    }

    #myInput{
        width: 250px;
    }

    .search_row{
        justify-content: center;
    }
}