.group_form{
    border-style: groove;
    border-color: beige;
    padding: 20px;
    margin: 20px;
    /* border-radius: 20px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form_heading{
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
}

#member_name{
    font-size: 20px;
}

.member_names{
    padding-left: 4%;
}

.signIn{
    background-color: #C9243F;
}
