.top_logo {
    height: 100px;
    width: 200px;
    margin-left: 10px;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    float: right;
    margin-top: 25px;
    margin-right: 20px;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.primary_color{
    background-color: #9f1c33;
}

.primary_color a {
    color: #f1f1f1;
}

.dropdown-menu a{
    color: darkslategrey;
}

.search_btn {
    color: #f1f1f1;
    border-color: #f1f1f1;
}

.jumbotron{
    background-color: #373839;
    margin: 0px
}

.footer-data{
    color: #f1f1f1;
}

@media only screen and (max-width: 420px) {
    .top_logo{
        height: 70px;
        width: 130px;
        margin-left: 0px;
    }

    .chip {
        padding: 0 15px;
        height: 30px;
        font-size: 16px;
        line-height: 28px;
        margin-top: 20px;
    }

    .chip img {
        float: left;
        margin: 0 5px 0 -15px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
}




/* body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
} */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: all 0.5s ease;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.4s;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
}

.sidenav a:hover {
  color: #f1f1f1;
  padding-left: 50px;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 0px;
}

.openbtn {
  cursor: pointer;
  color: white;
  margin-left: 20px;
  border: none;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
